{% extends 'libros/base.html' %}

{% block title %}Lista de Libros{% endblock %}

{% block content %}
    <h1 class="my-4">Lista de Libros</h1>
    <div class="list-group">
        {% for libro in libros %}
            <a href="{% url 'detalle_libro' libro.pk %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ libro.titulo }}</h5>
                    <small>{{ libro.fecha_publicacion }}</small>
                </div>
                <p class="mb-1">{{ libro.autor }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
